<script lang="ts" setup>
import { ref } from "vue";
const tab = ref("Smile");
</script>

<template>
  <v-card>
    <v-tabs v-model="tab" align-tabs="title">
      <v-tab value="Angry"> ANGRY </v-tab>
      <v-tab value="Cute"> CUTE </v-tab>
      <v-tab value="Excited"> EXCITED </v-tab>
      <v-tab value="Pain"> PAIN </v-tab>
      <v-tab value="Shocker"> SHOCKER </v-tab>
      <v-tab value="Smile"> SMILE </v-tab>
    </v-tabs>
  </v-card>
  <v-window v-model="tab">
    <v-window-item value="Smile">
      <v-card flat>
        <div class="ma-16 text-body">Smile</div>
        <v-img src="smail.png" height="125"></v-img>
      </v-card>
    </v-window-item>
    <v-window-item value="Angry">
      <v-card flat>
        <div class="ma-16 text-body">Angry</div>
        <v-img src="angry.png"></v-img>
      </v-card>
    </v-window-item>
    <v-window-item value="Cute">
      <v-card flat>
        <div class="ma-16 text-body">Cute</div>
        <v-img src="cute.png"></v-img>
      </v-card>
    </v-window-item>
    <v-window-item value="Excited">
      <v-card flat>
        <div class="ma-16 text-body">Excited</div>
        <v-img src="excited.png"></v-img>
      </v-card>
    </v-window-item>
    <v-window-item value="Pain">
      <v-card flat>
        <div class="ma-16 text-body">Pain</div>
        <v-img src="pain.png"></v-img>
      </v-card>
    </v-window-item>
    <v-window-item value="Shocker">
      <v-card flat>
        <div class="ma-16 text-body">Shocker</div>
        <v-img src="shocker.png"></v-img>
      </v-card>
    </v-window-item>
  </v-window>
</template>

<style scoped></style>
