<script lang="ts" setup>
import { ref } from "vue";
const num = ref(0);
</script>

<template>
  <div class="center">
    <label for="num"> Please input Number </label><br />
    <input id="num" v-model="num" type="number" />
  </div>
</template>
<style>
.center {
  text-align: center;
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}
</style>
