<script setup lang="ts">
import SecondComponent from "@/components/SecondComponent.vue";
import { ref } from "vue";
const First = ref(0);
const Second = ref(0);

function INCREMENT() {
  First.value = First.value + 1
  Second.value = Second.value + 2
}
function DECREASE() {
  if (First.value!=0 && Second.value!=0) {
    First.value = First.value - 1
    Second.value = Second.value - 2
  }
}
</script>
<template>
  <div class="center">
    <div>ใส่ FirstComponent และ SecondComponent</div>
    <div>FirstComponent</div>
    <div class="center" style="font-size:25pt;">{{ First === Infinity ? 0 : First.toFixed(2) }}</div>
    <div><button @click="INCREMENT">INCREMENT</button></div>

    <div>SecondComponent</div>
    <div class="center" style="font-size:25pt;">{{ Second === Infinity ? 0 : Second.toFixed(2) }}</div>
    <div><button @click="DECREASE">DECREASE</button></div>
  </div>
</template>
<style>
.center {
  text-align: center;
}
</style>